.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.containerButton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 10vh;
    align-items: center;
    justify-items: center;
    padding-block: 15vh;
    padding-inline: 5vw;
}

.btn[data-chosen="true"] {
    transform: scale(110%);
}

.btn{
    transition: all 250ms ease-in-out;
    cursor: pointer;
    width: 15vw;
}

.btn:hover{
    transform: scale(110%);
}

.back{
    margin-top: 5vh;
    width: 13vw;
}

.deguster{
    width: 20vw;
    align-self: center;
    transform: scale(150%);
}