<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose taste</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/chooseTaste.css">
</head>
<body>
    <div class="container" id="container">
        <!-- <img class="drink" src="./assets/images/1.png" alt="" data-saveur="1">
        <img class="drink" src="./assets/images/12.png" alt="" data-saveur="2">
        <img class="drink" src="./assets/images/123.png" alt="" data-saveur="3">
        <img class="drink" src="./assets/images/1234.png" alt="" data-saveur="4">
        <img class="drink" src="./assets/images/12345.png" alt="" data-saveur="5">
        <img class="drink" src="./assets/images/1234567.png" alt="" data-saveur="6"> -->
    </div>
    <script src="./assets/scripts/chooseTaste.js"></script>
</body>
</html>