<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/chooseIntensity.css">
</head>
<body>
    <div class="container">
        <div class="containerButton">
            <img src="./assets/images/faible.png" alt="" srcset="">
            <img src="./assets/images/moyenne.png" alt="" srcset="">
            <img src="./assets/images/fort.png" alt="" srcset="">
        </div>
        <img class="deguster" src="assets/images/btn deguster.png" alt="" srcset="">
    </div>
    <script src="./assets/scripts/chooseIntensity.js"></script>
</body>
</html>