<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport water</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/index.css')}}">
</head>
<body>
    <img id="mainImage" src="{{url_for('static', filename='assets/images/gifHomepage.gif')}}" alt="bg" srcset="">
    <script src="{{url_for('static',filename='assets/scripts/index.js')}}"></script>
</body>
</html>