<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass card</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/passCard.css">
</head>
<body>
    <div class="container">
        <p class="words" id="words">Passez votre carte</p>
        <img src="./assets/images/carte pesonnelle.png" alt="" class="carte">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="./assets/scripts/passCard.js"></script>
</body>
</html>
