<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/success.css">
</head>
<body>
    <div class="container">
        <p class="text"> Merci d'avoir Choisi Sport Water !</p>
        <p class="text">Il vous reste 60 boissons !</p>
        <p class="text"> XOXO.</p>
    </div>
    <script src="/static/assets/scripts/success.js"></script>
</body>
</html>